.taskTitle {
    background-color: #f0f0f0; /* Desired background color */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex; /* Flex display */
    /* Box shadow */
  }
  
  .taskTitle:hover {
    background-color: #e0e0e0; /* Highlight color on hover */
  }
  